@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
.AuthPage {
  overflow: hidden;
}
.AuthPage .register, .AuthPage .login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: -moz-min-content;
  height: min-content;
}
.AuthPage .register .titulo, .AuthPage .login .titulo {
  color: rgb(0, 0, 0);
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  margin: 3rem 0;
  letter-spacing: 3px;
  font-size: 35px;
}
.AuthPage .register input, .AuthPage .login input {
  background-color: rgba(227, 244, 238, 0.5);
  width: 400px;
}
.AuthPage .register label, .AuthPage .login label {
  color: gray;
  letter-spacing: 3px;
  font-size: 13px;
}
.AuthPage .register p, .AuthPage .login p {
  color: rgb(155, 154, 154);
}
.AuthPage .register p span, .AuthPage .login p span {
  cursor: pointer;
  font-weight: 800;
}
.AuthPage button {
  width: 400px;
  padding: 7px;
  border: none;
  border-radius: 10px;
  background-color: rgb(210, 248, 210);
  margin-top: 1rem;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 3px;
}

.image_loguin {
  height: 100vh;
  position: relative;
}
.image_loguin .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(154, 229, 139, 0.22);
  border-radius: 50% 0 0 50%;
  left: -40px;
  transform: translateX(40px);
  z-index: 2;
}
.image_loguin img {
  height: 100vh;
  width: 100%;
  border-radius: 50% 0 0 50%;
  transform: translateX(50px);
}
.image_loguin p {
  color: rgb(155, 154, 154);
}

.AuthPage .navbar li, .AuthPage .navbar .navbar-brand {
  color: rgb(0, 0, 0);
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 3px;
  position: relative;
  margin: 0 5px;
  font-size: 20px;
}
.AuthPage .navbar li::before, .AuthPage .navbar .navbar-brand::before {
  content: " ";
  width: 0;
  position: absolute;
  background-color: black;
  height: 10%;
  bottom: 0;
  transition: 0.5s ease-in-out;
}
.AuthPage .navbar li:hover::before, .AuthPage .navbar .navbar-brand:hover::before {
  width: 100%;
}

.hero {
  background-color: rgba(0, 0, 0, 0.317);
  background-image: url("https://as1.ftcdn.net/v2/jpg/02/84/68/70/1000_F_284687065_WqALgJLQAhxLlsuqz8NjYjWrts2ONbXk.jpg");
  background-size: contain;
  background-position: center;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.hero .navbar {
  background-color: rgba(215, 215, 215, 0.053);
  padding: 20px;
}
.hero .navbar Link, .hero .navbar .nav-link, .hero .navbar .navbar-brand {
  color: rgb(1, 1, 1);
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 5px;
  position: relative;
  margin: 0 5px;
  font-size: 18px;
}
.hero .navbar a {
  color: rgb(0, 0, 0);
  background-color: rgb(12, 160, 113);
  padding: 3px;
  border-radius: 10px;
  transition: 0.3s ease-in;
}
.hero .navbar a:hover {
  scale: 1.1;
  background-color: rgb(12, 160, 113);
  color: white;
}
.hero .login_boton {
  margin-right: 3rem;
}
.hero .login_boton button {
  background-color: rgb(12, 160, 113);
  width: 150px;
  color: rgb(0, 0, 0);
  letter-spacing: 3px;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}
.hero .login_boton button:hover {
  background-color: rgb(12, 160, 113);
}
.hero .login_boton Link {
  text-decoration: none;
}

.hero .info {
  margin: 1rem;
  padding: 2rem;
}
.hero .info h2 {
  color: white;
  font-weight: 800;
  margin-bottom: 1rem;
  font-size: 35px;
  letter-spacing: 2px;
}
.hero .info p {
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
}
.hero button {
  background-color: rgb(12, 160, 113);
  width: 200px;
  color: rgb(0, 0, 0);
  letter-spacing: 3px;
  font-weight: bold;
  transition: 0.4s ease-in-out;
  border: none;
  border-radius: 10px;
}
.hero button:hover {
  background-color: rgb(12, 160, 113);
  color: white;
}

.section-1 {
  font-family: "Playfair Display", serif;
  padding: 4rem 0 2rem 2rem;
  background-color: rgb(210, 248, 210);
}
.section-1 .left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-1 .left img {
  height: 250px;
  border-radius: 10px;
}
.section-1 .right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 3px;
}
.section-1 .right h6 {
  padding-bottom: 1rem;
  font-weight: 800;
  font-size: 25px;
}

.section-2 {
  font-family: "Playfair Display", serif;
  padding: 1rem 5rem;
  background-color: rgb(12, 160, 113);
}
.section-2 .left {
  display: flex;
  max-width: 100%;
  height: auto;
  display: block;
}
.section-2 .left img {
  height: 200px;
  margin: 10px;
  width: 230px;
  border-radius: 10px;
}
.section-2 .right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 3px;
}
.section-2 .right h6 {
  padding-bottom: 1rem;
  font-weight: 900;
  font-size: 20px;
}

.section-3 {
  font-family: "Playfair Display", serif;
  padding-bottom: 3rem;
  padding: 1rem 4rem;
  background-color: rgb(210, 248, 210);
}
.section-3 .left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 4rem;
}
.section-3 .left h6 {
  font-weight: 900;
  font-size: 25px;
}
.section-3 .right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-3 .right img {
  border-radius: 10px;
  height: 300px;
}

.titulo-cards {
  padding-top: 2rem;
  font-size: 30px;
  font-family: "Playfair Display", serif;
  letter-spacing: 5px;
  font-weight: 500;
}

.cards {
  padding: 2rem 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards .card {
  width: 15rem;
  height: 12rem;
  background-color: rgb(12, 160, 113);
  font-family: "Playfair Display", serif;
  text-align: center;
  color: white;
  margin-top: 10px;
}
.cards .card i {
  font-size: 30px;
}
.cards .btn {
  background-color: rgb(210, 248, 210);
  font-weight: 600;
}
.cards .btn:hover {
  background-color: black;
  color: white;
}

.footer {
  background-color: rgb(12, 160, 113);
}
.footer h4 {
  letter-spacing: 4px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 10px;
}
.footer p {
  text-align: center;
  font-size: 18px;
}
.footer h5 {
  text-align: center;
  letter-spacing: 4px;
  font-weight: 900;
  margin-bottom: 10px;
}
.footer ul {
  text-align: center;
}
.footer ul li {
  padding: 5px;
  font-weight: 400;
  letter-spacing: 4px;
  cursor: pointer;
}
.footer ul li:hover {
  font-weight: 900;
}
.footer .form-control {
  background-color: rgb(12, 160, 113);
  border: 1px solid white;
}
.footer .form-control::-moz-placeholder {
  color: rgb(201, 188, 188);
  letter-spacing: 3px;
}
.footer .form-control::placeholder {
  color: rgb(201, 188, 188);
  letter-spacing: 3px;
}
.footer button {
  font-weight: 600;
  letter-spacing: 3px;
}

.sideBar {
  padding: 10px;
  background-color: rgb(210, 248, 210);
}
.sideBar .sidebar {
  height: 100vh;
}
.sideBar .border {
  border-radius: 20px;
  background-color: rgb(12, 160, 113);
}
.sideBar .contenido {
  height: 100vh;
  overflow: scroll;
  position: relative;
}
.sideBar .contenido::-webkit-scrollbar {
  width: 0;
}
.sideBar .contenido .navbar {
  position: sticky;
  top: 0;
}
.sideBar .tittle, .sideBar .nav-link {
  color: rgb(255, 255, 255);
  width: 100%;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
.sideBar .tittle:hover, .sideBar .nav-link:hover {
  color: black;
}

.hero_d {
  padding: 3rem;
  margin: 0 10px;
  border-radius: 10px;
  background-color: rgb(12, 160, 113);
  font-family: "Playfair Display", serif;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/049/178/889/small_2x/stack-of-open-books-on-a-green-background-knowledge-and-education-concept-photo.jpg");
  background-position: center;
  background-size: cover;
}
.hero_d h5 {
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 900;
  color: white;
}
.hero_d p {
  color: white;
  padding-top: 5px;
  letter-spacing: 2px;
  font-size: 14px;
}
.hero_d .btn {
  background-color: transparent;
  border-color: white;
  letter-spacing: 4px;
  font-weight: 800;
}
.hero_d .btn:hover {
  background-color: white;
  color: rgb(0, 0, 0);
}

.targetas {
  display: flex;
  justify-content: space-around;
}
.targetas .card {
  margin: 6px 1px;
  background-color: rgb(12, 160, 113);
  height: 130px;
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: "Playfair Display", serif;
  overflow: hidden;
  height: 100px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.targetas .card:hover {
  height: auto;
}
.targetas .card:hover h5 {
  transform: translateY(0);
}
.targetas .card:hover h2 {
  transform: translateY(0);
}
.targetas .card h5 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  letter-spacing: 5px;
  color: white;
  transform: translateY(30px);
  transition: 0.4s ease-in-out;
}
.targetas .card h2 {
  font-weight: 900;
  font-size: 40px;
  transform: translateY(100px);
  transition: 0.4s ease-in-out;
}

.recomedation {
  font-family: "Playfair Display", serif;
}

.popular {
  background-color: white;
  border-radius: 20px;
}
.popular h5 {
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 25px;
}
.popular p {
  font-size: 14px;
  text-align: center;
}
.popular .card {
  border: none;
  padding: 5px;
}
.popular .card .rating {
  position: absolute;
  padding: 5px;
  color: rgb(255, 255, 255);
  background-color: rgba(11, 11, 11, 0.674);
  border-radius: 20px;
  margin: 5px;
  right: 5px;
}
.popular .card .rating i {
  margin: 0 4px 0 0;
  font-size: 10px;
}
.popular .card img {
  border-radius: 20px;
  position: relative;
}

.user_data h6 {
  font-size: 20px;
}
.user_data .autores, .user_data .books {
  background-color: white;
  margin: 5px;
  border-radius: 20px;
}
.user_data .authorCard, .user_data .bookNoteCard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin: 0 5px;
}
.user_data .authorCard img, .user_data .bookNoteCard img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}/*# sourceMappingURL=main.css.map */